#! /bin/bash
# Copyright (c) 2019 ZettaDB inc. All rights reserved.
# This source code is licensed under Apache 2.0 License,
# combined with Common Clause Condition 1.0, as detailed in the NOTICE file.

export KUNLUNBASE=KUNLUN_BASEDIR
export PATH=$KUNLUNBASE/percona-8.0.18-bin-rel/bin:$PATH
export PATH=$KUNLUNBASE/postgresql-11.5-rel/bin:$PATH
export PATH=$KUNLUNBASE/cluster_mgr_rel/bin:$PATH

export LD_LIBRARY_PATH=$KUNLUNBASE/percona-8.0.18-bin-rel/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=$KUNLUNBASE/postgresql-11.5-rel/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=$KUNLUNBASE/cluster_mgr_rel/lib:$LD_LIBRARY_PATH

# used by postgresql start, otherwise, postgresql.conf is invalid.
export LANG=en_US.utf8
